<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yglab.googleanalyticscourse.android" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.yglab.googleanalyticscourse.android.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >


        <!-- Optionally, register AnalyticsReceiver and AnalyticsService to support background
                 dispatching on non-Google Play devices -->
        <receiver android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false"/>

        <!-- Used for Google Play Store Campaign Measurement -->
        <!--
        When your app is downloaded from Google Play Store,
        the Play Store app broadcasts an INSTALL_REFERRER intent to your app during installation.
        This intent contains the value of the referrer parameter of the link used to
        reach your app's Google Play Store page, if one was present.
        -->
        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <!--
        <receiver android:name="com.yglab.googleanalyticscourse.android.ReferrerReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        -->

        <activity
            android:name="com.yglab.googleanalyticscourse.android.SignUpActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yglab.googleanalyticscourse.android.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter android:label="campaign filter">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <!--
                <data android:scheme="http"
                    android:host="www.example.com"
                    android:pathPrefix="/gizmos" />
                -->
                <!-- note that the leading "/" is required for pathPrefix-->
                <!-- Accepts URIs that begin with "example://gizmos”
                <data android:scheme="example"
                      android:host="gizmos" />
                -->
                <data android:scheme="yglab"
                    android:host="startupanalysiscourse" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yglab.googleanalyticscourse.android.ProductDetailActivity"
            android:label="@string/title_activity_product_detail" >
        </activity>
        <activity
            android:name="com.yglab.googleanalyticscourse.android.PaymentMethodActivity"
            android:label="@string/title_activity_payment" >
        </activity>
        <activity
            android:name="com.yglab.googleanalyticscourse.android.PaymentResultActivity"
            android:label="@string/title_activity_payment_result" >
        </activity>

    </application>

</manifest>
